# Dependency directories
node_modules/

# Production build outputs
dist/
build/
out/

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor/IDE configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.settings/

# Operating System files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
.Spotlight-V100
.Trashes
